@use "../utils/variables" as var;
@use "../utils/mixins" as mix;

.explode {
    width: 100%;
    background-color: var.$color-neutral-light;
    &__title {
        @include mix.flex-center;
        height: 50px;
        background: rgb(213, 213, 213);
        background: linear-gradient(
            180deg,
            rgba(213, 213, 213, 1) 0%,
            rgba(234, 234, 234, 1) 15%,
            rgba(234, 234, 234, 1) 100%
        );
        h2 {
            display: flex;
            align-content: center;
            justify-content: center;
            gap: 1rem;
            i{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            span {
                font-size: 1.5rem;
                font-weight: 500;
            }
        }
    }
    &__content {
        @include mix.flex-center(space-around);
        flex-direction: column;
        text-align: center;
        padding: 50px;
        min-height: 350px;
        h3 {
            padding: 0 14%;
        }
        p {
            font-size: 20px;
            padding: 0 10%;
        }
    }
    // @include tablet-min{
    //     border-radius: 0 0 20px 20px;
    // }
}
