@use "../utils/mixins" as mix;

body{
    .bloc-page {
        width: 100%;
        margin: auto;
    }
    @include mix.largest{
        .bloc-page{
            // width: 1302px;
            width: 1440px;
        }
    }
    @include mix.mobile{
        .bloc-page{
            width: 100%;
            margin: auto;
        }
    }
}