
body{
    .bloc-page {
        width: 93%;
        margin: auto;
    }
    @include largest{
        .bloc-page{
            width: 1302px;
        }
    }
    @include mobile{
        .bloc-page{
            width: 100%;
            margin: auto;
        }
    }
}