@use "../utils/variables" as var;
@use "../utils/mixins" as mix;
@use "../utils/keyframes" as *;

.section {
    &--color {
        background-color: var.$color-neutral-light;
    }
}

.restaurants {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.card-resto {
    box-shadow: var.$shadow-light;
    @include mix.transition;
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 20px;
    &__image {
        position: relative;
        &--flag {
            @include mix.flag;
            &::before {
                transform-origin: 50% -100px;
            }
        }
        width: inherit;
        height: 180px;
        border-radius: 20px 20px 0 0;
        overflow: hidden;
        img {
            @include mix.image-center;
        }
    }
    &__text {
        @include mix.flex-center(space-between);
        flex-wrap: wrap;
        padding: 15px 20px 20px 20px;
        div:first-child {
            @include mix.card-text;
        }
        .heart {
            // Animation des coeurs !
            @include mix.anim-heart;
        }
    }
    &:hover {
        @include mix.transf-scale;
        box-shadow: var.$shadow-dark;
        cursor: pointer;
        // Animation du flag "Nouveau"
        .card-resto__image--flag::before {
            animation: pendulum 4s;
        }
    }
    @include mix.tablet-min {
        width: 48%;
        &__image {
            width: 100%;
        }
    }
}
