.section{
    width: 100%;
    height: auto;
    padding: 20px 10%;
    &__title{
        &--marg-btm{
            margin-bottom: 10px;
        }
    }
}
.operation{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    &__card{
        position: relative;
        @include flex-center(start, baseline);
        box-shadow: $shadow-light;
        @extend %transition;
        gap: 10%;
        font-size: 1.5rem;
        padding: 26px 5% 0 14%;
        width: 100%;
        min-height: 62px;
        background-color: $color-neutral-light;
        border-radius: 20px;
        div:first-child{
            @include flex-center;
            position: absolute;
            width: 30px;
            height: 30px;
            color: white;
            background-color: $color-primary;
            border-radius: 50%;
            left: -15px;
            bottom: 24%;
            &::before{
                counter-increment: my-sec-counter 1;
                content: counter(my-sec-counter);
            }
        }
        div:last-child{
            margin-bottom: 5px;
        }
        &:hover{
            @extend %transform;
            box-shadow: $shadow-dark;
            background-color: $color-card-hover;
            cursor: pointer;
        }
        &:hover i{
            color: $color-primary;
        }
    }
    @include tablet-min{
        &__card {
            max-width: 30%;
            @include flex-center(start);
            padding: 0 0 0 5%;
        }
    }
}