.section {
    &--color {
        background-color: $color-neutral-light;
    }
    @include tablet-min{
        border-radius: 20px 20px 0 0;
    }
}

.restaurants{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // padding-bottom: 40px;
    gap: 20px;
}

.card-resto{
    box-shadow: $shadow-light;
    @extend %transition;
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 20px;
    &__image{
        position: relative;
        // display: flex;
        &--flag{
            @include flag;
            &::before{
                @extend %transition;
            }    
        }
        width: inherit;
        height: 150px;
        border-radius: 20px 20px 0 0 ;
        overflow: hidden;
        img{
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
    &__text{
        @include flex-center(space-between);
        flex-wrap: wrap;
        padding: 20px 20px;
        h3{
            font-size: medium;
        }
        h4{
            font-size: larger;
        }
        .heart {
            // Animation des coeurs !
            @include anim-heart;
        }
        
    }
    &:hover {
        @extend %transform;
        box-shadow: $shadow-dark;
        cursor: pointer;
    
        .card-resto__image--flag::before {
            opacity: .9;
        }
    }
    @include tablet-min{
        width: 48%;
        &__image{
            width: 100%;
        }
    }
    
}