@use "../utils/placeholders" as *;
@use "../utils/mixins" as mix;
@use "../utils/variables" as var;

.section {
    width: 100%;
    height: auto;
    @include mix.padding-sections(5%);
    @include mix.mobile {
        @include mix.padding-sections;
    }
    &__title {
        &--marg-btm {
            margin-bottom: 25px;
        }
    }
}
.operation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding-left: 15px;
    &__card {
        position: relative;
        @include mix.flex-center(start, baseline);
        box-shadow: var.$shadow-light;
        @include mix.transition;
        gap: 10%;
        font-size: 1.6rem;
        padding: 26px 5% 0 14%;
        width: 100%;
        min-height: 72px;
        background-color: var.$color-neutral-light;
        border-radius: 20px;
        div:first-child {
            @include mix.flex-center;
            position: absolute;
            width: 24px;
            height: 24px;
            color: white;
            background-color: var.$color-primary;
            border-radius: 50%;
            font-weight: 500;
            font-size: 1.4rem;
            left: -12px;
            bottom: 30%;
            &::before {
                counter-increment: my-sec-counter 1;
                content: counter(my-sec-counter);
            }
        }
        i {
            @include mix.transition;
        }
        div:last-child {
            margin-bottom: 5px;
        }
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: 20px;
            background-color: lighten(var.$color-primary, 35%);
            opacity: 0;
            @include mix.transition(opacity);
            z-index: -1;
        }
        &:hover {
            @include mix.transf-scale;
            box-shadow: var.$shadow-dark;
            cursor: pointer;
            &::after {
                opacity: 1;
            }
            i {
                color: var.$color-primary;
            }
        }
    }
    @include mix.tablet-min {
        &__card {
            max-width: 30%;
            @include mix.flex-center(start);
            padding: 0 15px 0 5%;
        }
    }
}
