@use "../utils/variables" as var;
@use "../utils/mixins" as mix;
@use "../utils/keyframes" as *;

.section {
    &--color {
        background-color: var.$color-neutral-light;
    }
    // mix.@include tablet-min{
    //     border-radius: 20px 20px 0 0;
    // }
}

.restaurants{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // padding-bottom: 40px;
    gap: 20px;
}

.card-resto{
    box-shadow: var.$shadow-light;
    @include mix.transition;
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 20px;
    &__image{
        position: relative;
        &--flag{
            @include mix.flag;
            &::before{
                @include mix.transition;
                transform-origin: 50% -100px;
            }    
        }
        width: inherit;
        height: 150px;
        border-radius: 20px 20px 0 0 ;
        overflow: hidden;
        img{
            @include mix.image-center;
        }
    }
    &__text{
        @include mix.flex-center(space-between);
        flex-wrap: wrap;
        padding: 20px 20px;
        h3{
            font-size: medium;
        }
        h4{
            font-size: larger;
        }
        .heart {
            // Animation des coeurs !
            @include mix.anim-heart;
        }
        
    }
    &:hover {
        @include mix.transf-scale;
        box-shadow: var.$shadow-dark;
        cursor: pointer;
    
        .card-resto__image--flag::before {
            animation: pendulum 4s;
        }
    }
    @include mix.tablet-min{
        width: 48%;
        &__image{
            width: 100%;
        }
    }
    
}