@use "../utils/mixins" as mix;
@use "../utils/variables" as var;

.btn{
    box-shadow: var.$shadow-light;
    min-width: 240px;
    height: 60px;
    padding: 0 20px;
    font-size: 2.2rem;
    font-weight: 500;
    color: white;
    background-image: linear-gradient(170deg, var.$color-secondary, var.$color-primary);
    border-radius: 50px;
    border: none;
    @include mix.transition;
    &:hover{
        @include mix.transf-scale;
        box-shadow: var.$shadow-dark;
        // filter: hue-rotate(15deg);
        opacity: 0.9;
        cursor: pointer;
    }
}