.btn{
    // @extend %shadow;
    box-shadow: $shadow-light;
    width: 240px;
    height: 76px;
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
    background-image: linear-gradient(170deg, $color-secondary, $color-primary);
    border-radius: 50px;
    border: none;
    @extend %transition;
    &:hover{
        @extend %transform;
        box-shadow: $shadow-dark;
        filter: hue-rotate(15deg);
        cursor: pointer;
    }
}