// Polices utilisées
// Shrikhand
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
// Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    list-style-type: none;
    text-decoration: none;
}

html {
    // 10px div by def of 16px
    font-size: 62.5%;
    box-sizing: border-box;
    /* Set "my-sec-counter" to 0 */
    counter-reset: my-sec-counter;
    
}

body, span {
    font-family: "Roboto", sans-serif;
    // background: $colour-secondary;
}

.section-title{
    font-size: x-large;
}

a{
    color: black;
}
