@use "../utils/mixins";

// Polices utilisées
// Shrikhand
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
// Roboto
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    list-style-type: none;
    text-decoration: none;
}

html {
    // Pour que 10px == 1rem
    font-size: 62.5%;
    box-sizing: border-box;
    /* Réinitialisation de my-sec-counter */
    counter-reset: my-sec-counter;
}

body,
span {
    font-family: "Roboto", sans-serif;
}

.loader{
    @include  mixins.loader;
}

.section-title {
    font-size: x-large;
    letter-spacing: 0.4px;
}

a {
    color: black;
}
