
main{
    gap: 0;
}

// .section{
//     &--bord_rad{
//         border-radius: 40px 40px 0 0 ;
    
//     }
// }

.back-image {
    width: 100%;
    height: 300px;
    .img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
.bloc-cards{
    position: relative;
    top: -50px;
    border-radius: 40px 40px 0 0;
    @extend %padding-sect-foot;
    @include mobile{
        @include padding-sect-foot-mobile;
    }
}
.title--shrink{
    @extend %shrikhand;
}



.group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__title{
        position: relative;
        font-size: 2rem;
        font-weight: 400;
        @include underline;
    
    }
    &__dish{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;   
    }
    &__card {
        position: relative;
        @include flex-center(space-between);
        box-shadow: $shadow-light;
        @extend %transition;
        gap: 10%;
        font-size: 1.5rem;
        padding: 0 0 0 14px;
        width: 100%;
        min-height: 62px;
        background-color: $color-neutral-light;
        border-radius: 20px;
        overflow: hidden;
        &:hover {
            @extend %transform;
            box-shadow: $shadow-dark;
            background-color: $color-card-hover;
            cursor: pointer;
            .group{
                &__price{
                    transform: translateX(-62px);
                    i{
                        transform: rotate(360deg);
                        @extend %transition;
                    }
                }
                &__text {
                    overflow: hidden;
                    >h4 {
                        @include ellipse;
                        width: auto;
                    }
                    >p {
                        @include ellipse;
                        width: auto;
                    }
                }
            }
            
        }
    }
    &__text{
        overflow: hidden;
        > h4{
            @include ellipse;
            width: auto
        }
        > p{
            @include ellipse;
            width: auto
            
        }
    }
    &__price {
        display: flex;
        // position: relative;
        position: absolute;
        right: -62px;
        height: 100%;
        @extend %transition;
        div:first-child {
            @include flex-center;
            width: 60px;
            height: auto;
            background-color: darksalmon;
        }
        h4 {
            // position: relative;
            // top: 31px;
            // left: -59px;
        }
        .hidden-square {
            width: 62px;
            height: auto;
            background: $color-tertiary;
            @include flex-center;
            > div{
                @include flex-center;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: white;
            }
        }
    }
    @include tablet-min {
        &__card {
            max-width: 31%;
        }
    }
}


