
main{
    gap: 0;
}

// .section{
//     &--bord_rad{
//         border-radius: 40px 40px 0 0 ;
    
//     }
// }

.back-image {
    width: 100%;
    height: 300px;
    .img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
.bloc-cards{
    position: relative;
    top: -50px;
    border-radius: 40px 40px 0 0;
    @extend %padding-sect-foot;
    @include mobile{
        @include padding-sect-foot-mobile;
    }
}
.title--shrink{
    @extend %shrikhand;
}



/* Bloc caché qui va tronquer le texte */
.bloc-1 {
    width: 5rem;
}

// Bloc caché dont la taille augmente de 5rem au hover et qui va pousser le bloc-1
.bloc-2 {
    width: 0;
    transition: all 1s;
}

// Bloc visible contenant le prix et l'icône check
.hidden-square {
    position: absolute;
    // remplit toute la hauteur
    min-height: -webkit-fill-available;
    display: flex;
    width: 10rem;
    right: -5rem;
    transition: all 1s;

    .check {
        @include flex-center;
        margin: auto;
        color: #690;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: white;
    }
}




.group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
    &__title{
        position: relative;
        font-size: 2rem;
        font-weight: 400;
        @include underline;
    
    }
    &__dish{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;   
    }
    &__card {
        position: relative;
        @include flex-center(space-between);
        box-shadow: $shadow-light;
        background-color: white;
        width: 100%;
        padding: 0 0 0 14px;
        font-size: 1.5rem;
        min-height: 62px;
        overflow: hidden;
        cursor: pointer;
        border-radius: 15px;
        @extend %transition;
        
        &:hover {
            @extend %transform;
            .bloc-2 {
                width: 5rem;
            }
            .hidden-square {
                right: 0;
                i {
                    transform: rotate(-360deg);
                    transition: transform 1s;
                }
            }
        }
    }
    &__text {
        flex-grow: 1;
        width: 10rem;
        // =================
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 0 0 14px;
        // =================
    
        p,
        h4 {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    
    &__price {
        @include flex-center;
        width: 5rem;
        transition: all 1s;
    }
    &__check{
        @include flex-center;
        width: 5rem;
        background-color: #99e2d0;
    }
    @include tablet-min {
        &__card {
            max-width: 31%;
        }
    }
}

.validation{
    display: flex;
    justify-content: center;
}


