@use "../../utils/mixins" as mix;

.header {
    &--space {
        @include mix.flex-center(space-around);
        flex-wrap: wrap-reverse;
        &::after {
            content: "";
            width: 18px;
        }
    }
    i {
        @include mix.transition;
    }
    a:hover {
        i {
            @include mix.transf-scale(1.1);
        }
    }
}

main {
    gap: 0;
}

.back-image {
    width: 100%;
    height: 300px;
    .img {
        @include mix.image-center;
    }
}
