@use "../../utils/mixins" as mix;

.header {
    &--space {
        @include mix.flex-center(space-around);
        flex-wrap: wrap-reverse;
        // pseudo-élément qui sert à contrebalancer le space-around, et garder le titre au centre !
        &::after {
            content: "";
            width: 18px;
        }
    }
    i {
        font-size: 2.5rem;
        @include mix.transition;
    }
    a:hover {
        i {
            @include mix.transf-scale(1.1);
        }
    }
}

main {
    gap: 0;
}

.back-image {
    width: 100%;
    height: 300px;
    .img {
        @include mix.image-center;
    }
}
