@use "../../utils/mixins" as mix;
@use "../../utils/placeholders" as *;

// Premier argument  : delai pour les blocs menu en seconde
// Deuxième argument : delai pour les cartes menu en seconde
@include mix.anim-cards();

.bloc-cards {
    $ascent: -50px;
    position: relative;
    top: $ascent;
    // Supprime la bordure qui s'est rajoutée en bas suite à la remontée du bloc !
    margin-bottom: $ascent;
    border-radius: 40px 40px 0 0;
    @include mix.padding-sections(5%);
    @include mix.mobile {
        @include mix.padding-sections;
    }
    .heart {
        // Animation du coeur !
        @include mix.anim-heart(x-large);
    }
}
.title--shrink {
    @extend %title-font;
    @include mix.flex-space-wrap;
}
