$bloc-gap: 1.5;
$card-gap: .5;

@for $i from 1 through 3 {
    .bloc-cards {
        .group:nth-child(#{$i + 1}) {
            $delay: ($i - 1) * $bloc-gap;
            $time: 1;
            @for $j from 1 through 3 {
                .group__dish {
                    & > .group__card:nth-child(#{$j}) {
                        animation: cards-appear 2s ease-in-out;
                        animation-fill-mode: both;
                        animation-delay: calc(($j + $delay - $time) * 1s);
                        $time: calc($time + $card-gap);
                    }
                }
            }
        }
    }
}

.bloc-cards {
    $ascent: -50px;
    position: relative;
    top: $ascent;
    // Supprime la bordure qui s'est rajoutée en bas suite à la remontée du bloc !
    margin-bottom: $ascent;
    border-radius: 40px 40px 0 0;
    padding-bottom: 60px;
    @extend %padding-sect-foot;
    @include mobile {
        @include padding-sect-foot-mobile;
        padding-bottom: 60px;
    }
    .heart {
        // Animation des coeurs !
        @include anim-heart(x-large);
    }
}
.title--shrink {
    @extend %shrikhand;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
