// header, main, image de fond
@import "./page_1_header";
@import "./page_1_section-1_bloc-cards";

// Bloc visible contenant le prix et l'icône check
.hidden-square {
    position: absolute;
    min-height: 100%;
    display: flex;
    width: 10rem;
    right: -5rem;
    transition: all $trans-fast;
    .group__price {
        position: absolute;
        transition: all calc($trans-fast - ($trans-fast * 1 / 5));
    }
    .check {
        @include flex-center;
        margin: auto;
        color: $color-tertiary;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: white;
        transition: all calc($trans-fast - ($trans-fast * 3 / 5));
    }
}

.group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
    &__title {
        position: relative;
        font-size: 2rem;
        font-weight: 400;
        @include underline;
        h3 {
            text-transform: uppercase;
            font-weight: 300;
        }
    }
    &__dish {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__card {
        position: relative;
        @include flex-center(space-between);
        box-shadow: $shadow-light;
        background-color: white;
        width: 100%;
        padding: 0 0 0 14px;
        font-size: 1.5rem;
        min-height: 62px;
        overflow: hidden;
        cursor: pointer;
        border-radius: 15px;
        @include transition;
        &:hover {
            @include transf-scale;
            .bloc-2 {
                width: 5rem;
            }
            .group__text {
                padding-right: 36px;
            }
            .hidden-square {
                i {
                    animation: check-rotate $trans-fast ease-in-out;
                }
                .group {
                    &__price {
                        transform: translateX(-35px);
                        transition: all $trans-fast;
                        transition-delay: calc($trans-fast/10);
                    }
                    &__check {
                        transform: translateX(-50px);
                    }
                }
            }
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 0 0 14px;
        width: calc(100% - 50px);
        transition: all calc($trans-fast - ($trans-fast * 1 / 5));

        // =================
        p,
        h4 {
            @include ellipse;
        }
    }

    &__price {
        position: relative;
        @include flex-center(start, flex-end);
        font-weight: 500;
        min-width: 5rem;
        min-height: 100%;

        p {
            padding-bottom: 12px;
        }
    }
    &__check {
        position: relative;
        @include flex-center;
        min-width: 5rem;
        right: -50px;
        background-color: $color-tertiary;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $color-tertiary;
        transition: all $trans-fast;
    }
    @include tablet-min {
        &__card {
            max-width: 31%;
        }
    }
}

.validation {
    display: flex;
    justify-content: center;
}
