
.bloc-cards {
    $ascent: -50px;
    position: relative;
    top: $ascent;
    // Supprime la bordure qui s'est rajoutée en bas suite à la remontée du bloc !
    margin-bottom: $ascent;
    border-radius: 40px 40px 0 0;
    padding-bottom: 60px;
    @extend %padding-sect-foot;
    @include mobile {
        @include padding-sect-foot-mobile;
        padding-bottom: 60px;
    }
    .heart {
        // Animation des coeurs !
        @include anim-heart(xx-large);
    }
}
.title--shrink {
    @extend %shrikhand;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}