@use "./variables" as var;

%shadow-light{
    filter: drop-shadow(var.$shadow-light);
}
%shadow-dark{
    filter: drop-shadow(var.$shadow-dark);
}

%title-font{
    font-family: "Shrikhand", cursive;
}
