// Flex center
@mixin flex-center($just-content: center, $align: center) {
    display: flex;
    justify-content: $just-content ;
    align-items: $align;
}

// Responsive
@mixin largest {
    @media screen and (min-width: map-get($breakpoints, largest)) {
        @content;
    }
}
@mixin tablet-min {
    @media screen and (min-width: map-get($breakpoints, mobile)) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: map-get($breakpoints, mobile)) {
        @content;
    }
}

// padding en mode mobile
@mixin padding-sect-foot-mobile {
    padding: 20px 10%;
}

@mixin flag{
    &::before{
        content: "nouveau";
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 55px;
        font-size: 2rem;
        color: #24611f;
        background-color: $color-tertiary;
        position: absolute;
        right: 20px;
        top: 20px;
    }
}

@mixin underline{
    &::after{
        content: "";
        width: 42px;
        height: 3px;
        background-color: $color-tertiary;
        position: absolute;
    }
}

@mixin ellipse{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
