// Flex center
@mixin flex-center($just-content: center, $align: center) {
    display: flex;
    justify-content: $just-content ;
    align-items: $align;
}

// Responsive
@mixin largest {
    @media screen and (min-width: map-get($breakpoints, largest)) {
        @content;
    }
}
@mixin tablet-min {
    @media screen and (min-width: map-get($breakpoints, mobile)) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: map-get($breakpoints, mobile)) {
        @content;
    }
}