// Couleurs principales

$color-primary : #9356DC;
$color-secondary : #FF79DA;
$color-tertiary : #99E2D0; 

// Couleurs cartes
$color-neutral-light: #f6f6f6;
$color-card-hover:#f5edff;

// Ombrages
$shadow-light: 2px 3px 7px 3px #bcbcbc;
$shadow-dark: 2px 3px 7px 3px #9f9f9f;

// Breakpoints Responsive
$breakpoints:(
    largest: 1440px,
    desktop: 992px,
    mobile: 768px
);

// Durées transitions
$trans-fast: .5s;

